/*
 * @NOTE: Prepend a `~` to css file paths that are in your node_modules
 *        See https://github.com/webpack-contrib/sass-loader#imports
 */
body {
  font-family: sans-serif;
}

.submit-btn:disabled {
  background: #e7e8e9;
  color: #9fa3a9;
  cursor: not-allowed;
}
.spinner {
  animation-name: spin;
  animation-duration: 500ms;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  min-width: 20px;
  min-height: 5px;
  padding: auto;
 }


 #start-camera {
  font-family: 'Anek Malayalam', sans-serif;
  background: #f5b40d;
  border: none;
  outline: none;
  border-radius: 8px;
  font-weight: 700;
  font-size: 14px;
  color: #ffffff;
  min-width: 200px;
  min-height: 36px;
  cursor: pointer;
  outline: none;
}


 @keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
 }
